/* .header{
    position: fixed;
    top: 0;
    left: 0;
    width: 88%;
    padding: 5px 10%;
    background: transparent;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
    z-index: 100;
    transition: .3s ease-in;
}
.header-bg{
    background-color: #333331;
}


.logo{
    position: relative;
    font-size: 30px;
    color: white;
    text-decoration: none;
    font-weight: 800;
    font-family: "Inter";

}
.navbar a{
   display: inline-block;
   font-size: 15px;
   text-decoration: none;
   font-weight: 500;
   margin-left: 35px;
   color: white;
}



.btn{
    padding: 0.78rem 1rem;
    border-radius: 5em;
    color: black;
    background-color: rgb(224, 205, 114);
}
.navbar ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}
.navbar li {
    margin-right: 20px;
} */
.navbar {
    background: transparent;
    /* background-color: #333; */
    color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
}

.link {
    color: black;
}

.logo {
    font-size: 20px;
}

.btn {
    padding: 10px 60px 10px 20px;
    border-radius: 48px;
    color: black;
    background-color: white;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
    font-size: 16px;
}

.menu {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu li {
    margin-right: 40px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 16px;
    font-family: 'Poppins',sans-serif;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.menu-toggle {
    display: none;
    cursor: pointer;
    margin-top: 10px;
}

.menu-toggle span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin-bottom: 5px;
    margin-right: 50px;
}

.navbar-bg {
    background-color: #fff;
    /* color: #fff; */
}

@media (max-width: 768px) {
    .navbar {
        padding: 20px;
        align-items: flex-start;
        background-color: #000;
        color: #fff;
    }

    .menu {
        flex-direction: column;
        align-items: flex-start;
        display: none;
        margin-top: 50px;
    }

    .menu.open {
        display: flex;
        margin-left: -300px;
    }

    .menu li {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .btn {
        display: none;
    }

    .menu-toggle {
        display: block;
    }

    .navbar-bg {
        background-color: white;
    }

    .link-bg {
        color: black;
    }

    .link-color {
        color: white;
    }
}

@media (min-width:800px) {
    .navbar-bg {
        background-color: #000;
        color: #fff;
    }

    .link-bg {
        color: #fff;
    }

    .link-color {
        color: black;
    }
}