.usage-main{
    margin-top: 10em;
    margin-bottom: 4.5em;
}
.usage-inside{
    width: 80%;
    margin: 0 auto;
}
.usage-inside h2{
    text-align: left;
    margin-bottom: 0.5em;
    font-size: 42px;
    letter-spacing: 1px;
    font-weight: 500;
}
.list-usage-section{
    display: grid;
    grid-template-columns: 365px 680px;
    grid-gap: 20px;
    margin-top: 2em;
    justify-content: center;
}
.hash-item{
    color: black;
    background: unset;
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0;
    transition: all 0.5s linear;
    list-style: none;
    position: relative;
}
.hash-p{
    font-size: 14px;
    font-weight: 300;
    margin: 10px 0;
    font-family: 'Poppins',sans-serif;
    display: none;
    color: black;
    position: absolute;
}
.hash-item:hover{
    background: white;
}
.hash-item:hover .hash-p{
    margin-top: -15px;
    display: block;
    height: max-content;
    padding-left: 20px;
}

