.what-container{
    width: 100%;
}
.inside-what{
    padding-left: 150px;
    padding-right: 150px;
}
.inside-div{
    display: grid;
    grid-template-columns: 5fr 5fr;
    grid-gap: 2em;
}
.what-right{
    display: flex;
    align-items: center;
    justify-content: center;
}
.what-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 20px;
}
.what-left h2{
    font-size: 50px;
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
}
.what-left p{
    font-size: 18px;
    font-family: 'Poppins',sans-serif;
    font-weight: 300;
}
@media (max-width:768px) {
    .inside-div{
        display: flex;
        flex-direction: column;

    }
    .inside-what{
        padding-left: 30px;
    }
    .what-left h2{
        font-size: 30px;
    }
    .what-left p{
        font-size: 14px;
    }
    .what-left{
        width: 300px;
    }
    .what-right{
        width: 300px;
    }
}